*{
    padding: 0;
    margin: 0;
}

h1{
    text-align: center;
    margin: 30px;
    font-size: 50px;

}

body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
}
section{
    display: flex; 
    flex-wrap: wrap;
    gap: 10px;
    background-color: #887fb3;
    margin: 2%;

}
.cartas{
    width: 500px;
    padding: 20px;
    margin: 10px auto;
}
.cartas p{
    text-align: justify;
    padding: 10px;
    margin-top: 20%;
}

.cartas h2{
    text-align: center;
    text-transform:uppercase;
    font-size: 30px;
}

.content{
    border: solid 3px #8a5c96;
    background-color: #b98dc4;

}

.cont{
    border: solid 3px #bba14c;
    background-color: #ebdea4;
    
}